
{include #logHeader}<br />
{foreach $ticketLog['ALL'] as $log}
	| {if isset($log['ticket']) && !empty($log['ticket'])}
		[{$log['ticket']}|https://jira.e-merchant.com/browse/{$log['ticket']}]
	{/if}
	| {if isset($log['jira']['summary']) && !empty($log['jira']['summary'])}
		{$log['jira']['summary']}
		{else}
			{$log['message']}
	{/if}
	| {$log['author']|lower} |
	<br />
{/foreach}


	
{define #logHeader}
|| Ticket || Description || Author ||
{/define}
