#
parameters:
    projects:
        fo-currys:
            label: FO Currys
            repositoryPath: /home/common/web_dir/fo-currys
            sourcePath: /home/common/web_dir/fo-currys
            changelogTpl: dsg_front.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
        bo-currys:
            label: BO Currys
            repositoryPath: /home/common/web_dir/bo-currys
            sourcePath: /home/common/web_dir/bo-currys
            changelogTpl: dsg_front.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
        fo-pcw:
            label: FO PC World
            repositoryPath: /home/common/web_dir/fo-pcw
            sourcePath: /home/common/web_dir/fo-pcw
            changelogTpl: dsg_front.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
        bo-pcw:
            label: BO PC World
            repositoryPath: /home/common/web_dir/bo-pcw
            sourcePath: /home/common/web_dir/bo-pcw
            changelogTpl: dsg_front.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
        gateway:
            label: Gateway
            repositoryPath: /home/common/web_dir/gateway
            sourcePath: /home/common/web_dir/gateway
            changelogTpl: dsg_front.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
        fo-core:
            label: FO Core
            repositoryPath: /home/common/fo-core
            sourcePath: /home/common/fo-core
            changelogTpl: dsg_front.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
 