common:
    php:
        date.timezone: Europe/London

    parameters:
        jiraApiPath: http://jira.dixons.co.uk/rest/api/latest/
        jiraPath: http://jira.dixons.co.uk/
        svnUrl: https://svn.dixonsretail.net

    services:
        svnHelper:
            class: SvnHelper
            arguments: [%tempDir%, %svn.credentials%, %projects%]
            run: true
        jiraHelper:
            class: JiraWrapper
            arguments: [%jiraApiPath%, %jira.credentials%]
        logGenerator:
            class: LogGenerator
            arguments: [@jiraHelper]
        mailHelper:
            class: MailHelper

    includes:
        - secret.neon

jenkins < common:
    includes:
        - config.jenkins.neon

dixdev < common:
    includes:
        - config.dixdev.neon

development < common:
    includes:
        - config.local.neon

production < common: