common:
    php:
        date.timezone: Europe/London

    parameters:
        jiraApiPath: http://jira.dixons.co.uk/rest/api/latest/
        jiraPath: http://jira.dixons.co.uk/
        svnUrl: https://svn.dixonsretail.net
    nette:
        application:
            errorPresenter: Error
            mapping:
                *: DixonsCz\Chuck\Presenters\*Presenter

    services:
        svnHelper:
            class: DixonsCz\Chuck\Svn\Helper
            arguments: [%tempDir%, %svn.credentials%, %projects%]
            run: true
        jiraHelper:
            class: DixonsCz\Chuck\Jira\Wrapper
            arguments: [%jiraApiPath%, %jira.credentials%]
        logGenerator:
            class: DixonsCz\Chuck\Log\Generator
            arguments: [@jiraHelper]
        mailHelper:
            class: MailHelper

    includes:
        - secret.neon

jenkins < common:
    includes:
        - config.jenkins.neon

dixdev < common:
    includes:
        - config.dixdev.neon

development < common:
    includes:
        - config.local.neon

production < common: