common:
    php:
        date.timezone: Europe/London

    parameters:
        jiraApiPath: http://jira.dixons.co.uk/rest/api/latest/
        jiraPath: http://jira.dixons.co.uk/
        svnUrl: https://svn.dixonsretail.net
    nette:
        application:
            errorPresenter: Error
            mapping:
                *: DixonsCz\Chuck\Presenters\*Presenter

    services:
        svnHelper:
            class: DixonsCz\Chuck\Svn\Helper
            arguments: [%tempDir%, %svn.credentials%, %projects%]
            run: true
        jiraHelper:
            class: DixonsCz\Chuck\Jira\Wrapper            
        logGenerator:
            class: DixonsCz\Chuck\Log\Generator
            arguments: [@jiraHelper]
        mailHelper:
            class: MailHelper
        jiraIssuesRepository:
            class: DixonsCz\Chuck\Jira\Issue\Repository        
        jiraRequestsFactory:
            class: DixonsCz\Chuck\Jira\Request\Factory
        jiraHttpRequest:
            class: DixonsCz\Chuck\Jira\HttpRequest      
        jiraClient:
            class: DixonsCz\Chuck\Jira\Client
        singleIssueTransformer:
            class: DixonsCz\Chuck\Jira\Response\Transformer\SingleIssue
        jiraConfiguration:
            class: DixonsCz\Chuck\Jira\Configuration
            arguments: [%jiraApiPath%, %jira.credentials%]            
        revisionMessageParser:
            class: DixonsCz\Chuck\Svn\RevisionMessage\Parser

    includes:
        - secret.neon

jenkins < common:
    includes:
        - config.jenkins.neon

dixdev < common:
    includes:
        - config.dixdev.neon

development < common:
    services:
        svnHelper:
            class: DixonsCz\Chuck\Svn\FromFile(%svnLogFile%)
            run: true
        jiraIssuesRepository:
            class: DixonsCz\Chuck\Jira\Issue\FromFileRepository(%jiraFile%)

    includes:
        - config.local.neon    

production < common: