# rename this file to secret.neon
parameters:
    jira:
        credentials:
            user: "user"
            password: "123456"
    svn:
        credentials:
            user: "user"
            password: "123456"
